body{
  background-color:skyblue;
}


  
  h1 {
  font-family: 'Alkalami', serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Mali', cursive;
  font-family: 'Shadows Into Light', cursive;
      }

header {
  font-family: 'Alkalami', serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Mali', cursive;
  font-family: 'Shadows Into Light', cursive;
  font-size: xxx-large;
  color: rgb(255, 111, 166);
      }
  
 p  {
  font-family: 'Alkalami', serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Mali', cursive;
  font-family: 'Shadows Into Light', cursive;
  }


